@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-wf-300 text-white;
  font-family: 'DM Sans';
  overflow: overlay;
}

.link {
  @apply inline-block text-sm font-extralight text-blue-500 transition-colors hover:text-blue-600;
}

.green-link {
  @apply text-green-300 transition-colors hover:text-green-500;
}

.router-link-active.green-link {
  @apply !text-green-400/80;
}

.router-link-active.clear.green-link {
  @apply !text-green-300;
}

.genre {
  @apply flex items-center justify-center rounded-md bg-wf-200 py-4 px-2 outline-none transition-colors hover:bg-wf-200/80 focus-visible:ring;
}

::-webkit-scrollbar {
  @apply h-2 w-2;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-wf-100 hover:bg-gray-500;
}

.diff::-webkit-scrollbar {
  @apply h-3 w-3 bg-wf-200;
}

.diff::-webkit-scrollbar-thumb {
  @apply border-[3px] border-solid border-wf-200;
}

.show-backdrop {
  @apply relative min-h-screen overflow-hidden bg-no-repeat;
  background-attachment: fixed;
  background-size: auto 100vh;
  background-position: right -160px bottom;
}

@media only screen and (max-width: 768px) {
  .show-backdrop {
    background-size: auto 80vh;
    background-position: center top;
  }
}

@media only screen and (max-width: 640px) {
  .show-backdrop {
    background-size: auto 65vh;
    background-position: center top;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.4s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.fade-move {
  transition: all 0.3s ease;
}

.fadeIn-enter-active,
.fadeIn-leave-active {
  transition: all 0.4s ease;
}

.fadeIn-enter-from,
.fadeIn-leave-to {
  opacity: 0;
}

.toast-enter-active,
.toast-leave-active {
  transition: all 0.4s ease;
}

.toast-enter-from,
.toast-leave-to {
  opacity: 0;
  transform: translateX(100px);
}

.toastUp-enter-active,
.toastUp-leave-active {
  transition: all 0.4s ease;
}

.toastUp-enter-from,
.toastUp-leave-to {
  opacity: 0;
  transform: translateY(100px);
}
